/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
// css reset
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

body {
  border: 1px solid #413f3f;
  padding: 1px;
  max-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

// container

.container {
  max-width: 960px;
  margin: 0 auto;
}

// header section
.header {
  padding: .35em .35em .8em;
  border-bottom: 1px solid #413f3f;

  &__logo {
    font-size: 1rem;
    color: #f1f1f1;
    background-color: black;
    text-decoration: none;
    padding: .6em 2em;
    display: inline-block;

  }
}

// main
.main {

  display: flex;
  flex: 1;
  overflow: hidden;

  article {
    flex: 1 0 70%;
    padding-bottom: 0;
    padding-right: 1em;
    padding-left: 1em;
    overflow: scroll;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
      width: 0;
    }

    h2,
    h3 {
      font-weight: 500;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }

  // aside
  aside {
    flex: 1 0 30%;
    background: #f1f1f1;
    padding-top: 1em;

    >div {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    //  input 
    div input {
      display: none;
    }

    //  label
    label[for="back"] {
      display: none;
    }

    div label {
      display: flex;
      text-align: center;
      font-size: .825rem;
      font-weight: 400;
      flex-direction: column;
      justify-content: space-between;
      padding: .3em .3em .6em;

      object {
        width: 40%;
        margin: 0 auto;
        filter: opacity(0.8);
        pointer-events: none;
        flex: 1;
        margin-bottom: .2rem;
      }
    }

    &>div>div {
      display: none;
      transition: .3s transform ease-in-out;
      grid-column: span 4;
      overflow-y: scroll;
      height: calc(97vh - .6em - 2em - 1rem - .35em - .35em - .8em - .3em - .3em - .6em - .825rem - 1em);
      padding: .5rem;

    }

    //  input not checked
    div input#figures:not(:checked)~input#references:not(:checked)~input#related:not(:checked)~input#info:not(:checked)~div[data-name="figures"],
    div input#figures:checked~div[data-name="figures"] {
      display: block;

      figure {
        img {
          margin-bottom: .5rem;
        }

        padding-top: 1em;
        padding-bottom: 1em;


      }

      figure+figure {
        border-top: 1px solid rgb(151, 148, 148);
      }
    }

    //  input checked
    div input#related:checked~div[data-name="related"] {
      display: block;

      .related__item+.related__item {
        margin-top: 1rem;
      }

      ul {
        display: grid;
        gap: .75em;

        a,
        a:visited {
          color: black;
        }
      }
    }

    div input:checked+label {
      font-weight: 600;
      border-bottom: solid 2px rgb(143, 139, 139);

      object {
        filter: opacity(1);
      }
    }

    div input#info:checked~div[data-name="info"] {
      display: block;

      .info__item+.info__item {
        margin-top: 1rem;

      }

      ul {
        display: grid;
        gap: .50em;

        a,
        a:visited {
          color: black;
        }
      }
    }

    div input#references:checked~div[data-name="references"] {
      display: block;

      .references__item+.references__item {
        margin-top: 1rem;
      }

      ul {
        display: grid;
        gap: .75em;

        a,
        a:visited {
          color: black;
        }
      }

    }

  }
}

@media screen and (max-width: 700px) {

  // main
  .main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .artical {
      grid-column: 1 / 6;
      grid-row: 1 / 1;
      padding-right: 2.152rem;

      section>h2 {
        padding-right: 17vw;
      }
    }

    // aside
    aside {
      display: grid;
      grid-column: 5 / 6;
      grid-row: 1 / 1;
      background: unset;
      z-index: 5;

      span {
        display: none;
      }

      // input
      aside input~div {
        position: fixed;
        background: #f1f1f1;
        display: block;
        z-index: 101;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        transform: translateX(100%);
        padding-top: 2.5rem;
      }

      // label
      div>label {
        border-bottom: unset !important;
      }

      div>label[for="back"] {
        display: inline;
        font-size: 1.6rem;
        position: fixed;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: 103;
        margin-bottom: 1rem;
        transition-delay: .3s;
        transition: opacity .3s ease-in-out;
      }

      div>label object {
        width: 25px;
        margin-right: unset;
        margin-left: auto;
        padding-right: .25em;

      }

      // input not checked
      div input#figures:not(:checked)~input#references:not(:checked)~input#related:not(:checked)~input#info:not(:checked)~label[for="back"] {
        display: none;
        opacity: 0;
      }

      // input checked
      div input#figures:checked~div[data-name="figures"] {
        transform: translateX(0);

      }

      div input#related:checked~div[data-name="related"] {
        transform: translateX(0);
      }

      div input#info:checked~div[data-name="info"] {
        transform: translateX(0);
      }

      div input#references:checked~div[data-name="references"] {
        transform: translateX(0);
      }

      &>div {
        display: unset;
      }
    }


  }









}